# environment variable
L2_NODE_WEB3_URL=http://localhost:8545
# deployer's private key
PRIV_KEY=

TON_CONTRACT_ADDRESS=0x7c6b91D9Be155A6Db01f749217d76fF02A7227F2

TON_FEE_VAULT_CONTRACT_ADDRESS=0x5eD0929cB0635c0f7c665c74D8D3990Cd07c55AF